*.class
*.so
*.a
*.o
*.lo
*.la
*.pyc
*.Plo
*.Po
*.dirstamp
*.tar.gz
*~
*.pc

libfluid_base
libfluid_msg

examples/controller/raw_controller
examples/controller/msg_controller
examples/controller/secure_controller
examples/controller/loci_controller

examples/controller/loci/loci

examples/python/swig/*.cxx
examples/python/swig/*.h
examples/python/fluid/

examples/java/swig/*.cxx
examples/java/swig/*.h
examples/java/fluid/

examples/switch/switch
examples/switch/client/client

examples/android/obj

doc/html/
